* {
  box-sizing: border-box;
  color: inherit;
  text-decoration: inherit;
  font-family: museo-sans, -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  color: rgb(72, 72, 72);
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  font-weight: 700;
}

body,
p,
button,
hr {
  margin: 0;
}

#logo {
  background-color: #e60012;
  border: none;
  width: 105px;
  height: 52px;
}

#logo > img {
  width: 69px;
}

.icon {
  margin-right: 6px;
}

.arrow {
  margin-left: 6px;
}

.link {
  display: inline-flex;
  align-items: center;
  background: none;
  border: none;
  font: inherit;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  fill: rgb(72, 72, 72);
}

.link:hover {
  color: #e60012;
  fill: #e60012;
}

form {
  border-bottom: 1px solid black;
  display: inline-flex;
  align-items: center;
  height: 34px;
  margin-left: 18px;
}

form:hover {
  border-color: #e60012;
}

input {
  background: none;
  border: none;
  font: inherit;
  text-decoration: none;
  font-size: 14px;
  min-width: 280px;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.smaller {
  font-size: 14px;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 52px;
  border-bottom: 1px solid rgb(218, 218, 218);
}

.top-left {
  display: flex;
  align-items: center;
}

.top-left .link {
  padding: 0 10px;
}

.top-left .arrow {
  margin-left: 16px;
}

.top-right {
  display: flex;
  padding: 0 20px;
  column-gap: 1.75rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1%;
  height: 44px;
  border-bottom: 1px solid rgb(218, 218, 218);
}

nav .link {
  padding: 0 10px;
}

nav .link:first-child {
  color: #e60012;
  fill: #e60012;
}

nav .link:first-child:before {
  bottom: 2px;
  background-color: #e60012;
  content: "";
  height: 4px;
  position: absolute;
  width: 10%;
}

main { 
  margin-top: 46px;
  margin-bottom: 3rem;
}

.notification {
  display: flex;
  justify-content: center;
  padding: 12px;
  background-color: rgb(248, 248, 248);
}

.notification .icon {
  margin-right: 12px;
}

.notification div {
  display: flex;
  padding: 0 16px;
}

.notification div:first-child {
  border-right: 1px solid black;
}

.product {
  background-color: rgb(214, 240, 250);
}

.container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 3rem;
  row-gap: 1rem;
  background-color: white;
  padding: 2rem 3rem;
  margin: 0 auto;
  max-width: 1240px;
  transform: translateY(2em);
  box-shadow: rgba(60, 64, 89, 0.15) 0px 4px 16px 0px;
}

.container p {
  font-size: 0.75rem;
}

.container h1 {
  font-size: 1.75rem;
}

.carousel {
  display: flex;
  position: relative;
  scroll-behavior: smooth;
  overflow-x: scroll;
  margin-bottom: 1rem;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel-list {
  display: flex;
}

.carousel-list a {
  margin-right: 5px;
}

.game-img {
  flex-shrink: 0;
  width: 100%;
}

.rating {
  min-height: 68px;
  min-width: 44px;
}

#violence {
  margin-left: 0.75rem;
  max-width: 352px;
}

.purchase {
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}

.purchase::before {
  background-color: #e60012;
  content: "";
  height: 1em;
  position: absolute;
  width: 2px;
}

.align {
  display: flex;
  align-items: center;
}

.space {
  justify-content: space-between;
}

#coin {
  width: 24px;
}

.redbutton{
  background-color: #e60012;
  color: white;
  text-align: center;
  text-decoration: none;
}

#dowload {
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 5px;
}

.main-margin {
  margin: 0 auto;
  max-width: 71.5rem;
  padding: 3rem 0;
}

.summary {
  display: flex;
  margin-top: 4rem;
}

.desc-img {
  width: 50%;
}

.desc {
  line-height: 1.4;
  margin: 1rem 1.75rem 0.5rem 0;
}

.paragraph{
  margin-block-start: 1em;
  margin-block-end: 1em;
}

#publisher {
  font-size: 0.75rem;
}

.about {
  max-width: 71.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

#info {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1.5rem;
  row-gap: 1.5rem;
}

#info h4 {
  margin-bottom: 1rem;
}

#info > div {
  padding: 1.5rem 2rem;
  background-color: rgb(248, 248, 248);
  text-align: center;
}

#rate {
  background-color: white;
  box-shadow: rgba(60, 64, 89, 0.15) 0px 4px 16px 0px;
  padding: 1rem 2rem;
  margin-bottom: 2rem;
  font-size: 0.75rem;
  text-align: left;
}

#suports {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 24px;
  column-gap: 24px;
}

#suports p {
  font-size: 1rem;
  font-weight: 700;
  margin: 1em 0;
}

.mode {
  background-color: rgb(57, 70, 160);
  box-shadow: rgba(60, 64, 89, 0.15) 0px 4px 16px 0px;
  padding: 1rem;
}

#datatable {
  display: grid;
  grid-template-columns: 1fr;
}

#datatable div {
  display: grid;
  grid-template-columns: 28px 1fr;
  column-gap: 1.25rem;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid rgb(218, 218, 218);
}

#datatable div >:first-child {
  grid-row-start: 1;
  grid-row-end: 3;
}

#online{
  display: flex;
  align-items: center;
  padding: 0 2rem;
  max-width: 71.5rem;
  font-weight: 700;
  background-color: rgb(248, 248, 248);
}

.hyperlink{
  color: #e60012;
  text-decoration: underline;
}

.hyperlink:hover{
  color: rgb(172, 0, 13);
}

#online p:first-of-type{
  font-size: 1.3125rem;
}

#learnmore{
  display: inline-block;
  font-size: 1.125rem;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
}

.warning{
  padding-top: 9rem;
  font-size: 0.75rem;
}

footer > section {
  padding: 2rem 0;
}

footer > section > div {
  max-width: 90rem;
  margin: 0 auto;
}

footer > section:first-child {
  background-color: #e60012;
}

footer > section:last-child {
  background-color: rgb(36, 36, 36);
}

#brandbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2rem;
  column-gap: 2rem;
  align-items: center;
  justify-items: center;
}

#brandbar > :first-child {
  grid-column-start: span 4;
  grid-column-end: auto;
  justify-self: center;
}

#linkbar {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* min-width: 429px */
  max-width: 90rem;
  column-gap: 1rem;
  row-gap: 2rem;
  margin: 1rem auto;
}

#linkbar > div:first-of-type {
  border-left: transparent;
}

#linkbar > div {
  padding-left: 1.5rem;
  border-left: 1px solid rgb(218, 218, 218);
}

.doubleline {
  grid-row-start: span 2;
  grid-row-end: auto;
}

#linkbar > div > h3 {
  margin-bottom: 1rem;
}

#linkbar > div > ul {
  margin: 0;
  padding: 0;
  color: #e60012;
  list-style-type: none;
  text-decoration: none;
}

#linkbar > div > ul > li {
  margin-bottom: 0.5rem;
}

#linkbar > div > ul > li:hover {
  color: rgb(172, 0, 13);
  text-decoration: underline;
}

.start-right {
  text-align: center;
}

#privacy {
  margin: 1rem 0;
  max-width: 4rem;
}

#legalbar {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 2rem;
  column-gap: 2rem;
  font-size: 0.75rem;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#legalbar div, a{
  justify-content: center;
}

#legallinks {
  display: flex;
  column-gap: 1rem;
  font-weight: 700;
}

#legallinks > a:hover {
  text-decoration: underline;
}

#region {
  display: flex;
  align-items: center;
}

#flag {
  width: 2.25rem;
}

@media (min-width: 768px) {
  .container {
    padding-bottom: calc(2rem + 24px);

  }
  .about {
    width: 96%;
    margin-left: auto;
    margin-right: auto;
  }

  #info {
    grid-template-columns: repeat(2, 1fr);
  }

  #datatable div {
    grid-template-columns: 28px 1fr 2fr;
  }

  #brandbar{
    grid-template-columns: auto repeat(4, 58px);
  }

  #brandbar > :first-child {
    justify-self: start;
    grid-column-start: span 1;
    grid-column-end: auto;
  }
  
  #linkbar {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1025px) {
  main{
    margin-top: 96px;
    margin-bottom: 4rem;
  }
  #linkbar {
    grid-template-columns: repeat(4, 1fr);
  }
  .start-right {
    text-align: end;
  }
  #legalbar {
    grid-template-columns: 1fr auto auto;
  }
}

@media (min-width: 1440px) {
  #linkbar {
    grid-template-columns: repeat(6, 1fr);
    transform: translateX(-1rem);
  }
}
